.editor-tag {
  cursor: text;
  font-size: 16px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  background: white;
  border: 1px #cccccc solid;

  & .tag-item {
    line-height: 20px;
    border-radius: 14px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    background: #4287f5;
    padding-left: 5px;

    .remove-tag {
      padding-right: 5px;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      padding: 0px 2px;
    }
  }

  & .tag-item:not(:first-child) {
    margin-left: 5px;
  }

  & input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}